@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (FeaturedItemsRow)Model.Content;
    if (row.FeaturedItems == null || !row.FeaturedItems.Any()) return;
    var settings = (FeaturedItemsRowSettings)Model.Settings;
    if(settings?.Hide ?? false) { return; }
}

<!-- Blog preview section-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">From our blog</h2>
                    <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            @foreach (var item in row.FeaturedItems)
            {
                var rowItem = (BlogCardItem)item.Content;
                var rowSettings = (BlogCardItemSettings)item.Settings;
                if (rowSettings.Hide) continue;

                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        @if (rowItem.Image != null)
                        {
                            <img class="card-img-top" src="@rowItem.Image.Url()" alt="@rowItem.Image.Name" />
                        }
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">@rowItem.Pill</div>
                            @if ( rowItem.Link != null)
                            {
                                @:<a class="text-decoration-none link-dark stretched-link" href="@rowItem.Link?.Url">
                            }
                            <h5 class="card-title mb-3">@rowItem.Title</h5>
                            @if (rowItem.Link != null)
                            {
                                @:</a>
                            }
                        <p class="card-text mb-0">@rowItem.Description</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="small">
                                        <div class="fw-bold">@rowItem.Author</div>
                                        <div class="text-muted">@rowItem.Date &middot; @rowItem.ReadDuration</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>